# ─── API ──────────────────────────────────────────────────────────────────────
# در محیط توسعه
VITE_API_URL=http://localhost:5000/api

# در محیط production (وقتی دامنه آماده شد)
# VITE_API_URL=https://api.tesign.team/api
